* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.video-bg .container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding-top: 20%;
}

.video-bg h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.video-bg p {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.video-bg a {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.video-bg a:hover {
  background-color: #333;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  animation-name: background-animation;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
  .video-bg h1 {
    font-size: 3rem;
  }

  .video-bg p {
    font-size: 1.5rem;
  }

  .video-bg a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 767px) {
  .video-bg h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .video-bg p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .video-bg a {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
  }

  .video-bg .container {
    padding-top: 10%;
  }

  footer {
    position: static;
    background-color: transparent;
  }
}

@media (max-width: 480px) {
  
  .video-bg h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .video-bg p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .video-bg a {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .video-bg .container {
    padding-top: 5%;
  }
}